.unevaluated {
    background-color: darkred;
    margin-bottom: 20px;
}

.notevaluatedbar {
    background-color: darkred;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left:5px;
}

.inevaluation {
    background-color: orange;
    margin-bottom: 20px;
}

.inevaluationbar {
    background-color: orange;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left:5px;
}

.evaluated {
    background-color: darkolivegreen;
    margin-bottom: 20px;
}

.evaluatedbar {
    background-color: darkolivegreen;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left:5px;
}

.img-margin {
    margin: 15px;
}

.column-scrollable {
    height: 500px;
    overflow: auto;
}

.cornerd {

}

.pull-bottom {

}

.white {
    color: whitesmoke;
}